.vscode
/demo
**/demo

node_modules
**/node_modules
**/node_modules/*

dist/*
**/dist
**/dist/*

*.log

.DS_Store

my-app/*


.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions